html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .App {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    background-color: #f8f9fa; /* Adjust color as needed */
    text-align: center;
    padding: 10px;
    width: 100%;
  }
  